*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("banner-crypto.png");
    width: auto;
    height: 550px;
}

.nav-container{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 50px;
    margin: auto;
    align-items: center;
    /* background-color: aqua; */
}

.nav-area{
    margin-left: 20px;
}

.nav-area li{
    display: inline-block;
}

.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 7.5px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.nav-area li a:hover{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0.1cm;
}


.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
    /* background-color: #DCADAD; */
}

.logo-container img{
    width: 200px;
    justify-content: center;
    align-items: center;
}

.logo-container h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 25px;
}

.main-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 300px;
    border-radius: 0.2cm;
    /* background-color: green;  */
    padding: 50px;
    /* margin-top: 50px; */
    
    margin: 50px;
    box-shadow: rgba(12, 88, 108, 0.2) 0px 7px 29px 0px;
}

.main-container1 h2, p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.main-container1 p{
    font-size: 30px;
}


.main-container2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: 500px;
    /* background-color: aqua; */
}

.main-container2 li{
    display: inline-block;
}

.main-container2 li a{
    color: black;
    text-decoration: white;
    padding: 7.5px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.main-container2 h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

.category-container{
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 50px;
}

.category-container li a:hover{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: black;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 0.1cm;
}


.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
}

.main-container2 a{
    text-decoration: none;
    color: black;
}

.pic{
    display: block;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    /* background-color: green; */
    border-radius: 0.1cm;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin: 20px;
}

.pic:hover{
    background-color: #E1E7EC;
}

.pic h3{
    padding-top: 10px;
    /* text-decoration: none; */
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pic1{
    border-radius: 0.1cm;
    width: 100%;
}

.main-container3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: 850px;
    /* background-color: green; */
}

.main-container3 a{
    text-decoration: none;
    color: black;
}

.main-container3 h1{
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: antiquewhite; */
    font-size: 42px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.main-container3 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
    /* font-weight: 400; */
}


.content-tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-pic{
    width: 275px;
    height: 300px;
    /* background-color: aqua; */
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    /* border-radius: 0.2cm; */
}

.content-pic:hover{
    background-color: #E1E7EC;
}

.content-pic h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: 600; */
}

.h3pic{
    color: red;
    font-weight: 500;
}

.c-pic1, .c-pic2, .c-pic3, .c-pic4{
    width: 100%;
}


.main-container4{
    width: auto;
    height: 580px;
    display: flex;
    /* justify-content: left; */
    align-items: center;
    background-color: #000330;
}

.text-4{
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    height: 550px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* background-color: black; */
    margin: 30px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    /* color: white; */
}

.text-4 h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E4E4E4;
    font-size: 36px;
    /* padding-top: 10px; */
    padding-bottom: 30px;
}

.text-4 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BFC7D1;
    padding-bottom: 15px;
    text-align: left;
    font-size: 18px;
}
.img-4{
    /* background-color: yellow; */
    float: left;
    width: auto;
    height: 100%;
}


.main-container5{
    width: auto;
    height: 800px;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
}

.main-container5 h1, p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.main-container5 h1{
    padding-top: 50px;
    padding-bottom: 20px;
}

.p-cont5{
    padding-bottom: 50px;
}

.content-nft{
    /* background-color: aqua; */
}

.nft1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    /* margin: 20px; */
}

.nft-content{
    width: 175px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.1cm;
    /* background-color: pink; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin: 10px;
}

.nft-content:hover{
    background-color: #E1E7EC;
}

.main-container5 a{
    text-decoration: none;
    color: black;
}

.ket h3{
    width: 150px;

    display: flex;
    justify-content: left;
    flex-wrap: wrap-reverse;
    padding-left: 5px;
    /* margin-left: 5px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    /* background-color: #000330; */
}

.tag-nft{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* padding: 5px; */
    /* background-color: #BFC7D1; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.nft-pic1{
    width: 75%;
    border-radius: 0.3cm;
}

.code{
    margin: 2px;
}
.icons{
    width: 17.5px;
    margin: 2px;
}






footer{
    background-color: #02041B;
    padding: 50px;
}

footer h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 500;
    color: white
}





